*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    height: 800px;
    background-color: #4158D0;
    background-image: linear-gradient(0deg, #4158D0 0%, #C850C0 68%, #FFCC70 100%);        
}

::-webkit-scrollbar {
    height: 0px;
    width: 2px;
    border-radius: 5px;
}

header{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.nameTitle{
    font-size: 20px;
    font-weight: bold;
}

.imgT{
    width: 55px;
    height: 55px;
    border: solid 2px;
    border-radius: 100%;
}

.busqueda {
    border: solid 1px;
    bottom: -20px;
    height: 40px;
    width: 86%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 12px 20px -10px rgba(0, 0, 0, 0.60);
    border-radius: 30px;
    overflow: hidden;
}

.busqueda input[type="search"] {
    height: 100%;
    width: calc(100% - 120px);
    border: 0;
    opacity: 0.8;
    font-size: 12pt;
    padding: 14px;
    background-color: aliceblue;
}

.busqueda input[type="search"]:focus{
    outline: 0;
    font-size: 14pt;
}

.busqueda input[type="search"]::placeholder {
    color: black;
}

.busqueda input[type="submit"] {
    opacity: 0.5;
    height: 60px;
    width: 60px;
    background-color: transparent;
    border: 0;
    font-size: 20pt!important;
}
.busqueda input[type="submit"]:active {
box-shadow: inset 0 0 15px royalblue;
font-size: 22pt!important;

}

nav {
    top: 20px;
}

nav ul {
    margin: 0 20px;
    height: 65px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
}

nav ul li {
    background-color: #ffffffab;
    border: solid 1px black;
    border-radius: 30px;
    flex: 0 0 100px;
    padding: 5px;
    text-align: center;
    list-style: none;
}

.scrollItems{
    display: flex;
    font-size: 0.67em;
    font-weight: bold;
    justify-content: center;    
}

.verMas{
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;
    color: white;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta{
    background-color: #ffffffab;
    margin: 15px;
    width: 150px;
    height: 200px;
    border: solid 1px black;
    border-radius: 15px;
}

.tarjeta:hover{
    box-shadow: 0 20px 20px 0px rgb(0 0 0 / 60%);
}

.imgTarjeta{
    width: 148px;
    height: 140px;
    border-radius: 15px 15px 0 0;
}

.tarjetaTxt{
    padding: 0 0 0 10px;
    font-weight: bold;
}

.gray{
    font-weight: 600;
    font-size: small;
    color: gray;
}

.boton{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    width: 75px;
    border-radius: 15px;
}

.boton:active{
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.500);
}

.menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.menu button {
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
}

.menu button:active{
    text-decoration: none;
    height: 60px;
    line-height: 40px;
    color: grey;
}

.menu .active, .menu button:hover{
    border-top: solid 4px rgb(174, 0, 255);
    color: black!important;
    height: 35px!important;
}